
@font-face {
  font-family: 'StardewValley';
  src: url('/assets/pixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 0px;
}

a:-webkit-any-link {
  color: #082f8a;
  display: flex;
  align-items: center;
}

hr {
  border: 1px solid #c47a48;
}

h3 {
  margin-top: 0;
  color: #5b2b2a;
}

body {
  font-family: 'StardewValley', sans-serif !important;
  cursor: url('/assets/cursor.png') 1 1, auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: Roboto, Helvetica, sans-serif;
  color: #525252;
  background: url('/assets/background.png');
  background-attachment: fixed;
  height: 100vh;
}

.frame-wrapper {
  position: relative;
  justify-content: space-around;
  background: #EBA867;
  image-rendering: pixelated;
  border-image: url('/assets/frame.png') 5 / 14px round;
  border-image-outset: 14px;
  height: 80vh;
  width: 80vw;
  overflow-y: scroll;
  overflow: visible;
  outline: 1px solid #EBA867;
}

#frame {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, auto));
  grid-template-rows: repeat(auto-fill, minmax(60px, auto));
  gap: 1rem;
  overflow: scroll;
}

#components {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  gap: 1rem;
  overflow: scroll;
}

#components div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#components a {
  font-size: 1rem;
}

#components span {
  width: 1.2rem;
}

#components img {
  height: 24px;
  margin-right: 4px;
}

#components .completed {
  border: 0;
}

.food {
  aspect-ratio: 1/1;
  width: 100%;
  cursor: url('/assets/pointer.png') 1 1, auto;
  filter: contrast(0.3);
  opacity: 0.4;
  user-select: none;
}

.checked {
  filter: none;
  opacity: 1;
}

.side-bar {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  left: -62px;
  align-items: flex-end;
}

.side-bar > .item {
  padding-left: 10px;
  border-image: url('/assets/side-frame.png') 5 / 14px round;
  border-image-outset: 14px;
  background-repeat: no-repeat !important;
  background-position: calc(50% + 5px) 50% !important;
  height: 40px;
  width: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: url('/assets/pointer.png') 1 1, auto;
  z-index: 9;
  user-select: none;
  transform: translateX(-4px);
}

.active {
  transform: translateX(2px) !important;
  border-image-slice: 0px 15px fill;
}

input {
  border-image: url('/assets/input-frame.png') 5 / 14px round;
  border-image-outset: 7px;
  margin: 7px;
  background: #F9BA66;
  font-size: 0.8em;
  font-family: 'StardewValley', sans-serif !important;
}

img {
  image-rendering: pixelated;
}

input:focus {
  outline: none;
}

.visor {
  height: calc(100% - 3rem);
  overflow: scroll;
  padding: 2rem;
}

a[href] {
  color: rgb(46, 46, 46) !important;
  text-decoration-thickness: 2px;
  cursor: url('/assets/pointer.png') 1 1, auto;
}

button {
  border-image: url('/assets/button.png') 5 / 14px round;
  border-image-outset: 7px;
  margin: 7px;
  background: #D87E00;
  font-size: 0.8em;
  font-family: 'StardewValley', sans-serif !important;
  cursor: url('/assets/pointer.png') 1 1, auto;
}

button[disabled] {
  border-image: url('/assets/button.png') 5 / 14px round;
  border-image-outset: 7px;
  background: #D87E00;
  filter: grayscale(1);
}

button[data-active=false] {
  border-image: url('/assets/button.png') 5 / 14px round;
  border-image-outset: 7px;
  background: #D87E00;
  filter: grayscale(1);
}

.title-flex {
  display: flex;
  justify-content: space-between;
}

.title-flex > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}